<h1>Nearest Fuel Station</h1>

<p>Name: <%= @station.name %></p>
<p>Address: <%= @station.street_address %></p>
<p>Fuel Type: <%= @station.fuel_type %></p>
<p>Access Times: <%= @station.access_times %></p>
<p>Distance: <%= @station.distance.to_f.round(1) %> miles</p>

<p>Directions:</p>
<ul>
  <% @directions.each do |direction| %>
    <li>
      <%= direction.instruction %>
      <p><%= direction.duration %> away</p>
      <p><%= direction.distance %></p>
    </li>
  <% end %>
</ul>
